<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.seizuredetectionapp">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".LocalSettings"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".GoogleMaps"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <activity
            android:name=".UsualLocations"
            android:exported="false" />
        <activity
            android:name=".TextPermission"
            android:exported="false" />
        <activity
            android:name=".LocationPermission"
            android:exported="false" />
        <activity
            android:name=".ContactPermission"
            android:exported="true" />
        <activity
            android:name=".UpdateContacts"
            android:exported="true" />
        <activity
            android:name=".Navbar"
            android:exported="true" />
        <activity
            android:name=".ProfileSettings"
            android:exported="false" />
        <activity
            android:name=".AppSettings"
            android:exported="false" />
        <activity
            android:name=".MainSettings"
            android:exported="false" />
        <activity
            android:name=".AlertPage"
            android:exported="false" />
        <activity
            android:name=".ContactsPage"
            android:exported="true" />
        <activity
            android:name=".TwitterLogin"
            android:exported="false" />
        <activity
            android:name=".AlertSettings"
            android:exported="false" />
        <activity
            android:name=".ForgetPassword"
            android:exported="false" />
        <activity
            android:name=".AddJournal"
            android:exported="false" />
        <activity
            android:name=".Datatable"
            android:exported="true" />
        <activity
            android:name=".QuestionnairePersonal"
            android:exported="true" />
        <activity
            android:name=".Questionaire"
            android:exported="false" />
        <activity
            android:name=".QuestionnaireMedical"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>